POLL_INTERVAL=12h
TIMEZONE=Europe/Warsaw
DRY_RUN=false

# IMAP Email Account Credentials & Labels
IMAP_SERVER=imap.example.com
IMAP_PORT=993
IMAP_USERNAME=wizzair-automation@example.com
IMAP_PASSWORD=your_imap_password
# Emails which successfully run the automation will be moved here.
LABEL_PROCESSED=Processed
# Emails which are not detected as itinerary confirmations will be moved here.
LABEL_IGNORED="Processed (ignored)"

# Google Calendar API
GCAL_CALENDAR_ID=mycalendar@group.calendar.google.com
GCAL_SERVICE_ACCOUNT_JSON_PATH=/etc/wizzair_automation/service-account.json

# CalDAV Tasks
CALDAV_BASE_URL=https://nextcloud.example.com/remote.php/dav/calendars/username/tasks/
CALDAV_USERNAME=your_username
CALDAV_PASSWORD=your_password
